name: Tests

on:
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: self-hosted
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Show python version on system
      run: python --version

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip --no-cache-dir
        pip install -r requirements.txt

    - name: Run tests
      run: pytest tests/ -v