name: Tests

on:
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: self-hosted
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Show python version on system
      run: python --version

    - name: Set up venv and install deps
      run: |
        python -m venv .venv
        echo "$PWD/.venv/bin" >> $GITHUB_PATH
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run tests
      run: pytest tests/ -v